.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  gap: 2rem;
}
.wrapper {
  display: grid;
  height: 100%;
  align-items: start;
}
.Image {
  display: block;
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  max-width: 100%;
}

.Image::after {
  content: "";
  display: block;
  height: 0;
  padding-bottom: 100%;
}

@media (max-width: 640px) {
  .container {
    grid-template-columns: 1fr;
  }
  .Image {
    background-size: contain;
  }
}
